<div class="code">
  <div class="code">
    {{ counter() }}

    <button (click)="increment()">Adicionar</button>
    <button (click)="decrement()">Remover</button>
    <button (click)="increase()">Incrementar com Update</button>
    <button (click)="decrease()">Decrementar com Update</button>
  </div>

  <h1>Exemplo 3</h1>
  <pre>{{ obj() | json }}</pre>
  <pre>{{ array() | json }}</pre>
  <div>
    <button (click)="set()">Set</button>
    <button (click)="mutate()">Mutate</button>
  </div>

  <app-input-required></app-input-required>
</div>
